[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pillow = "*"
opencv-python = "*"
fonttools = "*"

[dev-packages]

[requires]
python_version = "2.7"
